# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ master, develop ]
  pull_request:
    branches: [ '**' ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

env:
  GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  tests:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
        
    strategy:
      matrix:
        DJANGO_VERSION: [ '2.2.*', '3.0.*', '3.1.*', '3.2.*', '4.0.*', '4.1.*']
        python-version: ['3.7', '3.8', '3.9', '3.10']
        exclude:
          - DJANGO_VERSION: '4.1.*'
            python-version: '3.7'
          - DJANGO_VERSION: '4.0.*'
            python-version: '3.7'
          - DJANGO_VERSION: '3.1.*'
            python-version: '3.10'
          - DJANGO_VERSION: '3.0.*'
            python-version: '3.10'
          - DJANGO_VERSION: '2.2.*'
            python-version: '3.10'
      fail-fast: false

    services:
      postgres:
        image: postgres
        env:
          POSTGRES_PASSWORD: postgres
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432

    steps:
      - uses: actions/checkout@v2
      
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
              python-version: ${{ matrix.python-version }}
      - uses: actions/cache@v2
        with:
          path: ~/.cache/pip
          key: ${{ hashFiles('setup.py') }}-${{ matrix.DJANGO_VERSION }}

      - name: Install gettext
        run: sudo apt-get install -y gettext
      - name: Install
        run: |
           python setup.py develop
           pip install Django==${{ matrix.DJANGO_VERSION }}
           pip install -e .
           pip install -r requirements.test.txt
           pip install coveralls
           pip install psycopg2==2.8.6
           pip install codecov

      - name: Django 4.1 compatible version of ajax_selects
        if: ${{ matrix.DJANGO_VERSION }} == '4.0'
        run: |
              # remove this once https://github.com/crucialfelix/django-ajax-selects/pull/289 is merged
              pip uninstall -y django-ajax-selects
              pip install git+https://github.com/andyzickler/django-ajax-selects@remove-default-app-config
      - name: Testing
        run: PYTHONPATH=`pwd` python -W error::DeprecationWarning -m coverage run --source django_su ./example/manage.py test
      - name: upload coverage
        run: |
          coverage xml
          coveralls --service=github
          codecov
        env:
          DATABASE_URL: "postgresql://postgres:postgres@localhost/postgres"

  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
      - uses: actions/cache@v2
        with:
          path: ~/.cache/pip
          key: ${{ hashFiles('setup.py') }}-${{ matrix.DJANGO_VERSION }}

      - name: Install gettext
        run: sudo apt-get install -y gettext
      - name: Install
        run: |
          pip install flake8 isort black mypy django-stubs types-six types-requests types-mock
          python setup.py develop
          pip install -e .
          pip install -r requirements.test.txt
      - name: Running Flake8
        run: flake8
      - name: Running isort
        run: python -m isort django_su tests --check-only --diff
      - name: Running black
        run: black --check .
      - name: Running mypy
        run: mypy django_su --ignore-missing-imports
